/* Reset default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #f7f7f7;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #b4b5a4;
}


/* Hero section */
#order-section {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.order-content {
    text-align: center;
}

.order-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.order-content p {
    font-size: 24px;
    margin-bottom: 40px;
}

.btn {
    background-color: #e98f12;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 12px 22px;
}

.btn:active {
    transform: scale(0.9);
}

/* Featured section */
#featured-section {
    background-color: #f7f7f7;
    padding: 40px 0;
    text-align: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

#featured-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.dish {
    margin-bottom: 40px;
}

.dish img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.dish h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.dish p {
    font-size: 18px;
}

/* Footer */
footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}